<!DOCTYPE html>
<html>
<head>
  <title>Product Listing Page</title>
 <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div>
    <h1>Product Listing Page</h1>
    <% products.forEach((product) => { %>
      <% if (product.item_id === 2) { %>
        <div class="product-card">
          <img src="/images/<%= product.item_image %>" alt="<%= product.item_name %>" class="image">
          <h3><%= product.item_name %></h3>
          <p><%= product.item_price %></p>
          <form method="post" action="/add_cart">
            <input type="hidden" name="product_id" value="<%= product.product_id %>" />

            <input type="hidden" name="product_name" value="<%= product.product_name %>" />

            <input type="hidden" name="product_price" value="<%= product.product_price %>" />

            <input type="submit" class="btn btn-warning" value="Add to Cart" />
        </form> 
          <% } %> 
  <% }) %>
</div>
</body>
</html>